# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
MintingScript/.env
/MintingScript/bin
/MintingScript/obj
MintingScript/tx.cbor
StakingContract/plutus.json
/StakingContracDeploy/bin
/StakingContracDeploy/obj
StakingContracDeploy/.env
StakingContracDeploy/lucid-staking/.env
StakingContracDeploy/plutus.json
/MintingTokenScript/bin
/MintingTokenScript/obj
*.ps1
api/local.settings.json
